@tailwind base;
@tailwind components;
@tailwind utilities;

.TaskCard {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 6px 0 rgba(248, 96, 200, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.signup {
  border-radius: 200px 0px 200px 200px;
  -webkit-border-radius: 200px 0px 200px 200px;
  -moz-border-radius: 200px 0px 200px 200px;
  background: #e10279;
}

body{
  background-color: rgb(27, 26, 26);
}